# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
.DS_Store
*.pidb
*.suo
*.user
*.userprefs
*.unityproj
*.booproj
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties
ExportedObj/
.consulo/
*.csproj
*.sln
*.tmp
.idea/
.vs/
